<!-- Banner -->
<%- partial('partial/index/index-banner') %>

<!-- About -->
<div class="wrapper style1">
<%- partial('partial/index/index-about') %>
</div>

<!-- Features -->
<div class="wrapper style2">
<%- partial('partial/index/index-features') %>
</div>

<!-- Showcase -->
<div class="wrapper style1">
<%- partial('partial/showcase/showcase', {itemCount: 2}) %>
</div>

<!-- Contact -->
<!--<div class="wrapper style1">-->
<!--<%- partial('partial/index/index-contact') %>-->
<!--</div>-->