<!DOCTYPE HTML>
<html>
<%- partial('partial/head') %>
<body class="landing">
<div id="page-wrapper">

    <!-- Header -->
    <%- partial('partial/header') %>

    <!-- Page Content -->
    <%- body %>

    <!-- Footer -->
    <%- partial('partial/footer') %>

</div>

<!-- Scripts -->
<%- partial('partial/after-footer') %>

</body>
</html>