<!DOCTYPE HTML>
<html>

    <%- partial('partial/general/head') %>

    <body class="landing">

        <!-- Header -->
        <%- partial('partial/general/header') %>

        <!-- Page Content -->
        <%- body %>

        <!-- Footer -->
        <%- partial('partial/general/footer') %>

        <!-- Scripts -->
        <%- partial('partial/general/scripts') %>

    </body>

</html>